html, body {
  overflow-x: hidden; }

body {
  min-width: 320px;
  font-family: 'Montserrat';
  color: #343843;
  font-size: .9rem;
  background-color: #020202;
  background-position: top center;
  background-repeat: no-repeat; }
  @media (min-width: 1200px) {
    body {
      background-size: contain; } }
  body.bg-home {
    background-image: url("../images/bg-home.png"); }
  body.bg-blog {
    background-image: url("../images/bg-blog.png"); }
  body.bg-verblog {
    background-image: url("../images/bg-verblog.png"); }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

.form-control {
  font-size: .9rem; }
  .form-control:focus {
    box-shadow: rgba(137, 150, 174, 0.25) 0px 0px 0px 0.2rem;
    border-color: #8996ae; }

.ems-error {
  box-shadow: rgba(244, 67, 54, 0.25) 0px 0px 0px 0.2rem;
  border-color: #f44336; }

.btn-secondary {
  background-color: #6c757d;
  border-color: #9197aa;
  border-bottom: 2px solid #8089a2;
  padding: .375rem 2rem; }

.ems-header {
  color: #fff; }
  @media (min-width: 992px) {
    .ems-header {
      padding-top: 85px; } }
  .ems-header__nav {
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #535353;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    @media (min-width: 992px) {
      .ems-header__nav {
        position: fixed; } }
    .ems-header__nav h1 {
      width: 160px;
      margin-top: 12px; }
      .ems-header__nav h1 a img {
        display: block;
        max-width: 100%; }
      @media (max-width: 991.98px) {
        .ems-header__nav h1 {
          margin-right: auto;
          margin-left: auto; } }
      @media (min-width: 992px) {
        .ems-header__nav h1 {
          float: left; } }
    .ems-header__nav nav a {
      padding: 30px 0;
      margin-right: 12px;
      display: inline-block;
      text-decoration: none;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .ems-header__nav nav a:last-child {
        margin-right: 0; }
      .ems-header__nav nav a:hover, .ems-header__nav nav a.active {
        color: #8996ae; }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .ems-header__nav nav a {
          font-size: 12px; } }
    @media (max-width: 991.98px) {
      .ems-header__nav nav {
        display: none; } }
    @media (min-width: 992px) {
      .ems-header__nav nav {
        float: right; } }
  .ems-header__title {
    padding: 64px 0;
    text-align: center;
    background: transparent; }
    .ems-header__title h2 {
      font-size: 34px;
      margin-bottom: 15px; }
      @media (max-width: 991.98px) {
        .ems-header__title h2 {
          font-size: 28px; } }
    .ems-header__title p {
      font-size: 18px;
      color: #bfc1c9; }
      @media (max-width: 991.98px) {
        .ems-header__title p {
          font-size: 14px; } }
    .ems-header__title hr {
      border: 0;
      width: 56px;
      margin: 25px 0;
      border-top: 1px solid #636160;
      margin-left: auto;
      margin-right: auto; }
    .ems-header__title span {
      font-size: 16px;
      color: #d9dee9; }
      @media (max-width: 991.98px) {
        .ems-header__title span {
          font-size: 12px; } }

#emsWrapper {
  background: #ffffff; }
  #emsWrapper .container-fluid {
    padding: 0; }
  #emsWrapper hr.border-white {
    border: 0;
    margin: 0;
    border-bottom: 1.5px solid #fff; }
  #emsWrapper .ems-title {
    text-align: center;
    color: #8996ae;
    position: relative;
    margin-bottom: 70px; }
    #emsWrapper .ems-title:before {
      content: '';
      position: absolute;
      bottom: -20px;
      left: calc(50% - 145px);
      width: 290px;
      height: 18px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Camada_1' data-name='Camada 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 330.22 49.29'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%23323742;fill-opacity:0.2;fill-rule:evenodd;%7d%3c/style%3e%3c/defs%3e%3ctitle%3ePrancheta 1%3c/title%3e%3cpath class='cls-1' d='M211.05,28.14v-2H312.11v2Zm-28.53,4a4.82,4.82,0,0,1-4.64-5,4.65,4.65,0,1,1,9.28,0A4.82,4.82,0,0,1,182.52,32.14Zm-16.83,0a4.82,4.82,0,0,1-4.64-5,4.65,4.65,0,1,1,9.27,0A4.82,4.82,0,0,1,165.69,32.14Zm-16.15,0a4.82,4.82,0,0,1-4.64-5,4.65,4.65,0,1,1,9.27,0A4.82,4.82,0,0,1,149.54,32.14Zm-131.43-6H119.17v2H18.11Z'/%3e%3c/svg%3e"); }
    #emsWrapper .ems-title h3 {
      text-transform: uppercase; }
      #emsWrapper .ems-title h3 span {
        font-weight: 700; }
      @media (max-width: 991.98px) {
        #emsWrapper .ems-title h3 {
          font-size: 1.55rem; } }
    #emsWrapper .ems-title.white {
      color: #ffffff; }
  #emsWrapper .ems-bg-gray-dark {
    background: #8397b0;
    color: #fff;
    text-align: center; }
    #emsWrapper .ems-bg-gray-dark__img1, #emsWrapper .ems-bg-gray-dark__img2 {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 220px; }
      @media (min-width: 992px) {
        #emsWrapper .ems-bg-gray-dark__img1, #emsWrapper .ems-bg-gray-dark__img2 {
          position: absolute; } }
    #emsWrapper .ems-bg-gray-dark__img1 {
      background-image: url("../images/bg-somos-o-futuro.jpg"); }
      @media (min-width: 992px) {
        #emsWrapper .ems-bg-gray-dark__img1 {
          right: 15px; } }
    #emsWrapper .ems-bg-gray-dark__img2 {
      background-image: url("../images/bg-.metodologia-de-ensino.jpg"); }
      @media (min-width: 992px) {
        #emsWrapper .ems-bg-gray-dark__img2 {
          left: 30px; } }
    #emsWrapper .ems-bg-gray-dark__text1 {
      padding: 34px 30px; }
      @media (min-width: 992px) {
        #emsWrapper .ems-bg-gray-dark__text1 {
          padding: 64px 30px 64px 0; } }
    #emsWrapper .ems-bg-gray-dark__text2 {
      padding: 34px 30px; }
      @media (min-width: 992px) {
        #emsWrapper .ems-bg-gray-dark__text2 {
          padding: 64px 0 64px 30px; } }
  #emsWrapper .ems-content {
    padding: 64px 0; }
    #emsWrapper .ems-content#section_4 {
      padding: 64px 0 0 0; }
    #emsWrapper .ems-content .ems-desc-mais-7 {
      padding: 0 15px; }
      #emsWrapper .ems-content .ems-desc-mais-7 p {
        font-weight: 600; }
      @media (min-width: 992px) {
        #emsWrapper .ems-content .ems-desc-mais-7 {
          text-align: center; } }
    #emsWrapper .ems-content .ems-card {
      background: #f0f2f7;
      position: relative;
      margin: 50px 0 0 30px;
      padding: 30px;
      border-radius: 5px; }
      @media (max-width: 991.98px) {
        #emsWrapper .ems-content .ems-card {
          margin: 50px 15px 0 30px; } }
      #emsWrapper .ems-content .ems-card span {
        position: absolute;
        top: -30px;
        left: -30px;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background-color: #8996ae;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 36px; }
        #emsWrapper .ems-content .ems-card span.ico-eu-mente {
          background-image: url("../images/ico-eu-mente.png"); }
        #emsWrapper .ems-content .ems-card span.ico-eu-fisico {
          background-size: 32px;
          background-image: url("../images/ico-eu-fisico.png"); }
        #emsWrapper .ems-content .ems-card span.ico-eu-espiritual {
          background-size: 26px;
          background-image: url("../images/ico-eu-espiritual.png"); }
        #emsWrapper .ems-content .ems-card span.ico-eu-ed-financeira {
          background-image: url("../images/ico-eu-ed-financeira.png"); }
        #emsWrapper .ems-content .ems-card span.ico-eu-tec-block {
          background-image: url("../images/ico-eu-tec-block.png"); }
        #emsWrapper .ems-content .ems-card span.ico-eu-op-binarias {
          background-size: 32px;
          background-image: url("../images/ico-eu-op-binarias.png"); }
      #emsWrapper .ems-content .ems-card b {
        display: block;
        font-size: 22px; }
        @media (max-width: 991.98px) {
          #emsWrapper .ems-content .ems-card b {
            font-size: 18px; } }
      #emsWrapper .ems-content .ems-card p:last-child {
        margin-bottom: 0; }
    #emsWrapper .ems-content .ems-card-curso {
      background: #8996ae;
      color: #ffffff;
      padding: 64px 30px;
      border-radius: 5px;
      min-height: 546px; }
      @media (max-width: 991.98px) {
        #emsWrapper .ems-content .ems-card-curso {
          min-height: auto;
          padding: 34px 30px;
          margin-left: 15px;
          margin-right: 15px;
          margin-bottom: 25px; }
          #emsWrapper .ems-content .ems-card-curso.mg-b-0 {
            margin-bottom: 0; }
          #emsWrapper .ems-content .ems-card-curso img {
            width: 100px; } }
      #emsWrapper .ems-content .ems-card-curso.ems-bg-dark {
        background: #6a7995; }
      #emsWrapper .ems-content .ems-card-curso b {
        font-size: 34px;
        margin: 40px 0 30px 0;
        font-weight: 500; }
        @media (max-width: 991.98px) {
          #emsWrapper .ems-content .ems-card-curso b {
            font-size: 26px;
            margin: 20px 0 20px 0; } }
      #emsWrapper .ems-content .ems-card-curso p {
        margin-bottom: 0;
        font-size: 1.1rem; }
        @media (max-width: 991.98px) {
          #emsWrapper .ems-content .ems-card-curso p {
            font-size: .9rem; } }
  @media (max-width: 991.98px) {
    #emsWrapper .ems-info {
      padding: 0 15px; } }
  #emsWrapper .ems-info h3 {
    font-weight: 700; }
  #emsWrapper .ems-info ul {
    margin-top: 12px; }
    #emsWrapper .ems-info ul li {
      margin: 12px 0; }
      #emsWrapper .ems-info ul li .ems-icon-qs7 {
        margin-right: 8px; }
        #emsWrapper .ems-info ul li .ems-icon-qs7 img {
          width: 15px;
          position: relative;
          top: -2px; }
  @media (max-width: 991.98px) {
    #emsWrapper form {
      padding: 20px 15px 0 15px; } }
  @media (min-width: 576px) {
    #emsWrapper .ems-blog-content {
      margin-right: -22px; } }
  #emsWrapper .ems-blog-content .ems-blog-item {
    width: 100%;
    margin-bottom: 22px; }
    @media (min-width: 576px) {
      #emsWrapper .ems-blog-content .ems-blog-item {
        width: calc(50% - 22px);
        margin-right: 22px;
        float: left; } }
    @media (min-width: 768px) {
      #emsWrapper .ems-blog-content .ems-blog-item {
        width: calc(33.33333333333333% - 22px); } }
    @media (min-width: 992px) {
      #emsWrapper .ems-blog-content .ems-blog-item {
        width: calc(25% - 22px); } }
    #emsWrapper .ems-blog-content .ems-blog-item__date {
      display: block;
      margin-top: 20px;
      color: #bbbec7;
      font-size: 11px; }
    #emsWrapper .ems-blog-content .ems-blog-item__title {
      display: block;
      margin-top: 5px;
      font-size: 26px;
      font-weight: 700;
      line-height: 1; }
    #emsWrapper .ems-blog-content .ems-blog-item__desc {
      display: block;
      margin: 20px 0 10px 0;
      color: #8d919c;
      font-size: 13px; }
    #emsWrapper .ems-blog-content .ems-blog-item a {
      color: #8996ae;
      font-size: 13px; }
  #emsWrapper .ems-blog-bt-show-more {
    padding-bottom: 64px; }
    #emsWrapper .ems-blog-bt-show-more a {
      display: inline-block;
      color: #8997ae;
      text-decoration: none;
      padding: 10px 20px;
      border: 1px solid #8997ae;
      border-radius: 5px;
      font-weight: 700; }
  #emsWrapper .alert {
    margin: 30px 0 0 0; }
    @media (max-width: 991.98px) {
      #emsWrapper .alert {
        margin: 30px 15px 0 15px; } }

.ems-footer {
  text-align: center;
  padding: 40px 0;
  background: #e9ecf3;
  color: #9198ab; }
  .ems-footer .ems-footer_logo {
    margin: 40px 0; }
  .ems-footer .ems-footer__social_icons a {
    text-decoration: none;
    margin: 0 8px; }
    .ems-footer .ems-footer__social_icons a img {
      height: 18px; }
