@font-face {
  font-family: 'Harabara Bold';
  src: url("../fonts/harabara-bold.woff2") format("woff2"), url("../fonts/harabara-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Harabara';
  src: url("../fonts/harabara.woff2") format("woff2"), url("../fonts/harabara.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Harabara Black';
  src: url("../fonts/harabara-black.woff2") format("woff2"), url("../fonts/harabara-black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Harabara Light';
  src: url("../fonts/harabara-light.woff2") format("woff2"), url("../fonts/harabara-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

body {
  min-width: 320px;
  overflow-x: hidden; }

ul, ol {
  margin: 0;
  padding: 0; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

.ems-header {
  background: #020202;
  color: #fff; }
  .ems-header__logo {
    position: absolute;
    top: 10px;
    left: calc(50% - 30px); }
  .ems-header__nav {
    border-bottom: 1px solid #aaa;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
    .ems-header__nav a {
      padding: 30px 0;
      margin-right: 20px;
      display: inline-block;
      text-decoration: none;
      color: #fff; }
      .ems-header__nav a:last-child {
        margin-right: 0; }
    @media (min-width: 992px) {
      .ems-header__nav .nav-left {
        float: left; } }
    @media (min-width: 992px) {
      .ems-header__nav .nav-right {
        float: right; } }
  .ems-header__title {
    padding: 50px 0;
    text-align: center; }

#emsWrapper .container-fluid {
  max-width: 1366px;
  padding: 0; }

#emsWrapper .bg-gray-dark {
  background: #8397b0;
  color: #fff;
  text-align: center; }

#emsWrapper hr.border-white {
  border: 0;
  margin: 0;
  border-bottom: 1px solid #fff; }

#emsWrapper .ems-title {
  text-align: center; }

.ems-footer {
  text-align: center;
  padding: 40px 0;
  background: #e9ecf3; }
