@mixin transition($property, $transition, $function) {
	-webkit-transition: $property $transition $function;
	-moz-transition: 		$property $transition $function;
	-ms-transition: 		$property $transition $function;
	-o-transition: 			$property $transition $function;
	transition: 				$property $transition $function;
}

html, body {
	overflow-x: hidden;
}

body {
	min-width: 320px;
	font-family: 'Montserrat';
	color: #343843;
	font-size: .9rem;
	background-color: #020202;
  background-position: top center;
  background-repeat: no-repeat;
	@media (min-width: 992px) {
  	background-size: contain;
	}
	&.bg-home {
		background-image: url('../images/bg-home.png');
	}
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-control {
	font-size: .9rem;
	&:focus {
	  box-shadow: rgba(137, 150, 174, 0.25) 0px 0px 0px 0.2rem;
	  border-color: rgb(137, 150, 174);
	}
}

.ems-error {
	box-shadow: rgba(244, 67, 54, 0.25) 0px 0px 0px 0.2rem;
	border-color: rgb(244, 67, 54);
}

.btn-secondary {
	background-color: #6c757d;
  border-color: #9197aa;
	border-bottom: 2px solid #8089a2;
	padding: .375rem 2rem;
}

.ems-header {
	color: #fff;
	@media (min-width: 992px) {
		padding-top: 85px;
	}
	&__nav {
		z-index: 8;
		top: 0;
		left: 0;
		width: 100%;
		border-bottom: 1px solid #535353;
		@include transition(all, .2s, ease-in-out);
		@media (min-width: 992px) {
			position: fixed;
		}
		h1 {
			width: 160px;
			margin-top: 12px;
			a {
				img {
					display: block;
					max-width: 100%;
				}
			}
			@media (max-width: 991.98px) {
				margin-right: auto;
				margin-left: auto;
			}
			@media (min-width: 992px) {
				float: left;
			}
		}
		nav {
			a {
				padding: 30px 0;
				margin-right: 12px;
				display: inline-block;
				text-decoration: none;
				color: #fff;
				font-size: 15px;
				font-weight: 600;
				@include transition(all, .2s, ease-in-out);
				&:last-child {
					margin-right: 0;
				}
				&:hover, &.active {
					color: #8996ae;
				}
			}
			@media (max-width: 991.98px) {
				display: none;
			}
			@media (min-width: 992px) {
				float: right;
			}
		}
	}
	&__title {
		padding: 64px 0;
		text-align: center;
		background: transparent;
		h2 {
			font-size: 34px;
			margin-bottom: 15px;
		}
		p {
			font-size: 18px;
			color: #bfc1c9;
		}
		hr {
			border: 0;
			width: 56px;
			margin: 25px 0;
			border-top: 1px solid #636160;
			margin-left: auto;
			margin-right: auto;
		}
		span {
			font-size: 16px;
			color: #d9dee9;
		}
	}
}

#emsWrapper {
	background: #ffffff;
	.container-fluid {
		padding: 0;
	}
	hr.border-white {
		border:0;
		margin: 0;
		border-bottom:1.5px solid #fff;
	}
	.ems-title {
		text-align: center;
		color: #8996ae;
		font-size: 36px;
		position: relative;
		margin-bottom: 70px;
		&:before {
			content: '';
			position: absolute;
			bottom: -20px;
			left: calc(50% - 145px);
	    width: 290px;
	    height: 18px;
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: cover;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg id='Camada_1' data-name='Camada 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 330.22 49.29'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%23323742;fill-opacity:0.2;fill-rule:evenodd;%7d%3c/style%3e%3c/defs%3e%3ctitle%3ePrancheta 1%3c/title%3e%3cpath class='cls-1' d='M211.05,28.14v-2H312.11v2Zm-28.53,4a4.82,4.82,0,0,1-4.64-5,4.65,4.65,0,1,1,9.28,0A4.82,4.82,0,0,1,182.52,32.14Zm-16.83,0a4.82,4.82,0,0,1-4.64-5,4.65,4.65,0,1,1,9.27,0A4.82,4.82,0,0,1,165.69,32.14Zm-16.15,0a4.82,4.82,0,0,1-4.64-5,4.65,4.65,0,1,1,9.27,0A4.82,4.82,0,0,1,149.54,32.14Zm-131.43-6H119.17v2H18.11Z'/%3e%3c/svg%3e");
		}
		h3 {
			text-transform: uppercase;
			span {
				font-weight: 700;
			}
		}
		&.white {
			color: #ffffff;
		}
	}
	.ems-bg-gray-dark {
		background: #8397b0;
		color: #fff;
		text-align: center;
		&__img1, &__img2 {
			background-position: center center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    position: relative;
	    width: 100%;
	    height: 100%;
	    min-height: 220px;
	    @media (min-width: 992px) {
				position: absolute;
			}
		}
		&__img1 {
			background-image: url('../images/bg-somos-o-futuro.jpg');
			@media (min-width: 992px) {
				right: 15px;
			}
		}
		&__img2 {
			background-image: url('../images/bg-.metodologia-de-ensino.jpg');
			@media (min-width: 992px) {
				left: 30px;
			}
		}
		&__text1 {
			padding: 64px 30px;
			@media (min-width: 992px) {
				padding: 64px 30px 64px 0;
			}
		}
		&__text2 {
			padding: 64px 30px;
			@media (min-width: 992px) {
				padding: 64px 0 64px 30px;
			}
		}
	}
	.ems-content {
		padding: 64px 0;
		&#section_4 {
			padding: 64px 0 0 0;
		}
		.ems-desc-mais-7 {
			p {
				font-weight: 600;
			}
		}
		.ems-card {
			background: #f0f2f7;
			position: relative;
			margin: 50px 0 0 30px;
			padding: 30px;
			border-radius: 5px;
			span {
				position: absolute;
				top: -30px;
				left: -30px;
				width: 60px;
				height: 60px;
		    border-radius: 100%;
				background-color: #8996ae;
				background-position: center center;
		    background-repeat: no-repeat;
		    	background-size: 36px;
		    &.ico-eu-mente {
		    	background-image: url('../images/ico-eu-mente.png');
		    }
		    &.ico-eu-fisico {
		    	background-size: 32px;
		    	background-image: url('../images/ico-eu-fisico.png');
		    }
		    &.ico-eu-espiritual {
		    	background-size: 26px;
		    	background-image: url('../images/ico-eu-espiritual.png');
		    }
		    &.ico-eu-ed-financeira {
		    	background-image: url('../images/ico-eu-ed-financeira.png');
		    }
		    &.ico-eu-tec-block {
		    	background-image: url('../images/ico-eu-tec-block.png');
		    }
		    &.ico-eu-op-binarias {
		    	background-size: 32px;
		    	background-image: url('../images/ico-eu-op-binarias.png');
		    }
			}
			b {
				display: block;
				font-size: 22px;
			}
			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.ems-card-curso {
			background: #8996ae;
			color: #ffffff;
			padding: 64px 30px;
			border-radius: 5px;
			min-height: 546px;
			&.ems-bg-dark {
				background: #6a7995;
			}
			b {
				font-size: 34px;
				margin: 40px 0 30px 0;
				font-weight: 500;
			}
			p {
				margin-bottom: 0;
				font-size: 1.1rem;
			}
		}
	}
	.ems-info {
		h3 {
			font-weight: 700;
		}
		ul {
			margin-top: 12px;
			li {
				margin: 12px 0;
				.ems-icon-qs7 {
					margin-right: 8px;
					img {
						width: 15px;
						position: relative;
						top:-2px;
					}
				}
			}
		}
	}
}

.ems-footer {
	text-align: center;
	padding: 40px 0;
	background: #e9ecf3;
	color: #9198ab;
	.ems-footer_logo {
		margin:40px 0;
	}
	.ems-footer__social_icons {
		a {
			text-decoration: none;
			margin: 0 8px;
			img {
				height: 18px;
			}
		}
	}
}