@import '_fonts';

body {
	min-width: 320px;
	overflow-x: hidden;
}

ul, ol {
  margin: 0;
  padding: 0;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
.clearfix {
  @include clearfix;
}

.ems-header {
	background: #020202;
	color: #fff;
	&__logo {
		position: absolute;
		top: 10px;
		left: calc(50% - 30px);
	}
	&__nav {
		border-bottom: 1px solid #aaa;
		border-bottom: 1px solid rgba(255,255,255,0.3);
		a {
			padding: 30px 0;
			margin-right: 20px;
			display: inline-block;
			text-decoration: none;
			color: #fff;
			&:last-child {
				margin-right: 0;
			}
		}
		.nav-left {
			@media (min-width: 992px) {
				float: left;
			}
		}
		.nav-right {
			@media (min-width: 992px) {
				float: right;
			}
		}
	}
	&__title {
		padding: 50px 0;
		text-align: center;

	}
}

#emsWrapper {
	.container-fluid {
		max-width: 1366px;
		padding: 0;
	}
	.bg-gray-dark {
		background: #8397b0;
		color: #fff;
		text-align: center;
	}
	hr.border-white {
		border:0;
		margin: 0;
		border-bottom: 1px solid #fff;
	}
	.ems-title {
		text-align: center;
	}
}

.ems-footer {
	text-align: center;
	padding: 40px 0;
	background: #e9ecf3;
}